.App {  
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

body {
  font-size: .875rem;
}

/* Dark Theme */
#light-text{color: white;}
#dark-bg{background-color: rgb(17 24 39);}


/* Light Theme */
#dark-text{color: rgb(17 24 39);}
#light-bg{background: white;}